NEXT_PUBLIC_TMDB_ACCESS_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4ODVjNTU1NjdhZTNiOTUyMDIzMGE5NTA4OTA0Y2E5YyIsIm5iZiI6MTc4MDc2MDk1MC41MjE5OTk4LCJzdWIiOiI2YTI0NDE3NmVhZjJhZjMyM2RiMTY1MTIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.iHzEGFKiOrVMhhBSeKjNgdak1U84rOz3MTpFBuYt_cc
NEXT_PUBLIC_TMDB_API_KEY=885c55567ae3b9520230a9508904ca9c
NEXT_PUBLIC_BACKEND_URL="http://localhost:3001"